.siderbar{
    position:fixed;
    height:95vh;
}
.mainContainer{
    // height: auto;
    width: 100vw;
    height:95vh;
    padding-left: 260px;
}
.AAA{
    width: 200px;
    margin-left: 60px;
    position: fixed;
    height:95vh;
    display:none;
}